/* Font Family */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Shared Style */

*{
    font-family: "Work Sans", sans-serif;
}

/* Header Style */

header{
    background-color: rgba(255, 144, 14, 0.1);
    padding: 50px 240px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title{
    font-size: 2.8rem;
    font-weight: 700;

}

nav ul{
    display: flex;
    gap: 36px;
}

nav li{
    list-style: none;
    color: #424242;
    font-weight: 500;
    font-size: 1.125rem;
}

/* Banner Styles */

.banner-content{
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
}

.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner-description{
    font-size: 1rem;
    line-height: 26px;
    font-weight: 400;
    color: #727272;
}

.primary-btn{
    background-color: #FF900E;
    font-size: 1.25rem;
    font-weight: 600;
    color: #FFFFFF;
    padding: 20px 25px;
    border: 0;
    border-radius: 8px;
}

.banner-img{
    width: 100%;
}

.banner-img img{
    width: 100%;
}