/* Font Family */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Shared Style */

*{
    font-family: "Work Sans", sans-serif;
}

body{
    margin: 0px;
    padding: 0;
}

main
{
    max-width: 1440px;
    margin: 0 auto;
}

.light-gray-text{
    font-size: 1rem;
    line-height: 26px;
    font-weight: 400;
    color: #727272;
}

.section-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313
}

/* Header Style */

header{
    background-color: rgba(255, 144, 14, 0.1);
    padding: 50px 240px;
    margin-bottom: 0px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: #424242;
    font-weight: 500;
    font-size: 1.125rem;
}

nav ul{
    display: flex;
    gap: 36px;
}

nav li{
    list-style: none;
    color: #424242;
    font-weight: 500;
    font-size: 1.125rem;
}

/* Banner Styles */
.banner-content{
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
}

.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.primary-btn{
    background-color: #FF900E;
    font-size: 1.25rem;
    font-weight: 600;
    color: #FFFFFF;
    padding: 20px 25px;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 50px;
    margin-top: 32px;
}

.banner-img{
    margin-top: 0px;
}

.banner-img img{
    width: 100%;
}

/* main styles */


/* Teams Styles */

.teams{
    margin: 85px 61px 130px 61px ;
    display: flex;
    align-items: center;
    gap: 73px;
}

.teams-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}

.teams-title{
    margin-bottom: 0px;
}

.teams-description{
    margin-bottom: 0px;
    margin-top: 24px;
}

.light-span{
    font-weight: 500;
    color: #727272;
}

.orange-span{
    font-weight: 700;
    color: #FF900E;
}

/* Features Styles */

.features{
    display: flex;
    gap: 146px;
    margin-bottom: 0;
}

.features .section-title{
    border-left: #FF900E solid 5px;
    padding-left: 21px;
    margin-bottom: 8px;
}

.features-contant .light-gray-text{
    margin-bottom: 30px;
}

.features .card{
    padding: 30px;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 20px;
}

.features .card h2{
    font-size: 1.25rem;
    font-weight: 600;
    color: #131313;
    margin: 0px;
}

.features .card p{
    margin-top: 10px;
}

.features-img{
    width: 100%;
}

.features-img img{
    height: 90%;
    width: 100%;
}

.experience{
    background-color: #FF900E;
    text-align: center;
    width: 342px;
    border-radius: 8px;
    border: 0;
    padding: 45px 42px;
    position: relative;
    bottom: 80px;
    right: 80px;
}

.experience h3{
    margin: 0;
    padding-bottom: 0px;
    font-size: 4rem;
    font-weight: 700;
    color: #FFFFFF;
}

.experience p{
    margin-top: 0px;
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: 500;
}

/* Facts Styles */

.facts{
    margin-bottom: 180px;
    margin-top: 130px;
}

.facts-title{
    margin-bottom: 24px;
}

.facts-description{
    margin-top: 0;
    max-width: 542px;
    margin-bottom: 0;
}

.facts .card-container{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 100px;
}

.facts .card{
    border: #FF900E 1px solid;
    border-radius: 8px;
    padding: 45px 36px 45px 35px;
}

.facts .card-stats{
    font-size: 2.8rem;
    color: #424242;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 0;
}

.facts .card-title{
    font-size: 1.25rem;
    font-weight: 600;
    color: #727272;
    margin-top: 5px;
}

/* Sponsors Styles */

.sponsors{
    text-align: center;
    margin-top: 0;
}

.sponsors-img{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    align-items: center;
    gap: 50px;
}

.sponsors-description{
    margin-top: 0px;
    max-width: 542px;
    margin-left: auto;
    margin-right: auto;
}

.sponsors-img img{
    width: 200px;
}

/* Footer Styles */

footer{
    max-width: 1440px;
    margin: 130px auto 216px auto;
    background-color: #FFF4E7;
    border-radius: 8px;
    border: 0;
}

footer p{
    padding: 39px 410px;
    font-size: 1.25rem;
    font-weight: 400;
    color: #424242;
}




/* Responsive Media Queries */


/* Mobile Device */

@media screen and (max-width: 576px) {
    header{
        padding: 23px;
    }

    .banner-title{
        font-size: 3.5rem;
    }

    nav,
    .sponsors-img,
    .features
    {
        flex-direction: column;
    }

    nav >ul{
        flex-direction: column;
        gap: 26px;
    }

    .teams{
        flex-direction: column-reverse;
        margin: 85px 10px 130px 10px;
        gap: 50px;
    }

    .teams-img{
        grid-template-columns: 1fr;
        gap :1rem;
    }

    .teams-img img{
        width: 100%;
    }

    .features-img img{
        width: 100%;
        margin: 0px;
    }

    .experience{
        position: static;
        width: auto;
    }

    .facts .card-container{
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
        gap: 20px;
    }

    .facts-title,
    .facts-description,
    .features
    {
        margin-left: 10px;
        margin-right: 10px;
    }

    footer{
        margin-left: 10px;
        margin-right: 10px;
    }

    footer p{
        padding: 14px;
    }
}

/* Tab or Medium Device */

@media screen and (min-width: 576px) and (max-width: 992px) {
    header{
        padding: 50px;
    }
    nav,
    .sponsors-img,
    .features
    {
        flex-direction: column;
    }
    .teams{
        flex-direction: column-reverse;
    }

    .features-img img{
        margin: 0;
        width: 100%;
    }

    .features,
    .facts
    {
        margin-left: 20px;
        margin-right: 20px;
    }

    .facts .card-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
    }

    .experience{
        position: static;
        width: auto;
    }

    footer{
        margin-left: 20px;
        margin-right: 20px;
    }
    footer p{
        padding: 20px;
    }
}   